header {
	text-align: center;
}

ul {
	padding: 0;
	width: 100%;
	margin: 0;
}

ul li:nth-child(odd) {
	background: #f9f9f9;
}

ul li {
	list-style: none;
	margin: 7px 0;
	padding: 10px;
	cursor: pointer;
}

ul.Basket li:before {
    content: "\F147   \A0";
    color: #ffffff;
}

ul.Basket li:before, ul.Basket li:hover:before {
    font-family: FontAwesome;
    font-size: 1.2em;
    font-weight: 700;
}
ul.Basket li:hover:before {
    content: "\F147   \A0";
    color: red;
}

main header .clearBasket {
    color: red;
    opacity: .3;
}

main header .clearBasket:hover {
    opacity: 1;
}