header {
	text-align: center;
}

ul {
	padding: 0;
	width: 100%;
	margin: 0;
}

ul li:nth-child(odd) {
	background: #f9f9f9;
}

ul li {
	list-style: none;
	margin: 7px 0;
	padding: 10px;
	cursor: pointer;
}

ul.Groceries li:before {
    content: "\F196 \A0";
    color: #ffffff;
}

ul.Groceries li:before, ul.Groceries li:hover:before {
    font-family: FontAwesome;
    font-size: 1.2em;
    font-weight: 700;
}

ul.Groceries li:hover:before {
    content: "\F0FE \A0";
    color: green;
}