main {
	flex-direction: row;
	justify-content: space-evenly;
	display: flex;

}

main header {
	display: flex;
	justify-content: space-between;
}

main div {
	flex-direction: column;
	width: 30%;
}

main, main div {
	display: flex;
}