.header {
	left: 0;
	width: 100%;
	height: 180px;
   padding-top:20px;
	background-color: #222222;
	color: white;
	text-align: center;
	vertical-align: middle;
}

.basket-logo {
   width: 100px;
   height: 90px;
}